*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navlink{
    padding: 15px;
    background: red;
    text-align: center;
    
}
ul li, ul ul{
        display: inline-block;
}
a{
    color: #000;
    font-size: 27px;
    text-decoration: none;
    padding: 15px;
   
}
ul li ul {
    visibility: hidden;
    display: none;
    background: #fff;
    opacity: 0;
    position: absolute;
    text-align: left;

}
ul li:hover > ul,
ul li ul:hover{
    visibility: visible;
  opacity: 1;
  display: block;
  min-width: 150px;
  padding-top: 10px;
  
}
body{
    background: black;
}
ul li ul li a:hover {
    padding-left: 10px;
    
    transition: all 0.3s ease;
    color: #000;
  }
 
  .work:hover{
    background: #fff;
}